*{
    overflow: hidden;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#display {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    visibility: hidden;
}

#game {
    background-color: burlywood;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enemy {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#health-cont {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#enemy-health {
    outline: 1px solid black;
    height: 50%;
    width: 60%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#health-bar {
    background-color: green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out;
    border-radius: 1rem;
    transition-duration: 400ms;
}

#enemy-card{
    outline: 2px solid black;
    height: 75%;
    aspect-ratio: 59/86;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(116, 103, 130);
    transition: ease-in-out;
    transition-duration: 900ms;
}

.enemy-info{
    outline: 3px outset black;
    width: 90%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#enemy-card > img {
    outline: 1px solid black;
    width: 90%;
    aspect-ratio: 1/1;
}

#deck {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}

#hand {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.player-card {
    height: 45%;
    aspect-ratio: 59/86;
    border-radius: 0.25rem;
    background-color: rgb(102, 158, 204);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    outline: 1px solid black;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
}

.player-card > div {
    border: 2px outset;
    background-color: grey;
    padding: 3%;
    width: 78%;
    height: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.4vw;
    font-weight: bolder;
}

.player-card > img {
    outline: 1px solid black;
    width: 85%;
    aspect-ratio: 1/1;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
}

#store-btn {
    height: 55%;
    width: 10%;
}

